<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>

<table border="2">
  <tr>
      <th>ID</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th>Age</th>
      <th>Email</th>
      <th>Update</th>
      <th>Delete</th>


  </tr>
 <tr th:each="user:${users}">
     <td th:text="${user.getId()}"></td>
     <td th:text="${user.getFirstName()}"></td>
     <td th:text="${user.getLastName()}"></td>
     <td th:text="${user.getAge()}"></td>
     <td th:text="${user.getEmail()}"></td>
     <td><a th:href="@{/api/users/{userId} (userId=${user.getId()})}">Update</a></td>
     <td><a th:href="@{/api/users/{userId}/delete (userId=${user.getId()})}">Delete</a></td>
 </tr>


</table>

<a href="/api/users/new">Create User</a>




</body>
</html>